In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
df = pd.read_csv("stock.csv", encoding='latin1')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456 entries, 0 to 455
Data columns (total 5 columns):
script       456 non-null object
marketcap    456 non-null object
quarter      456 non-null object
year         456 non-null int64
hour         456 non-null int64
dtypes: int64(2), object(3)
memory usage: 17.9+ KB

In [4]:
df.head()

                    script marketcap quarter  year  hour
0  Infosys (INFY) (500209)  Largecap      q2  1800     9
1  Infosys (INFY) (500209)  Largecap      q3  1801     9
2  Infosys (INFY) (500209)  Largecap      q4  1802     9
3  Infosys (INFY) (500209)  Largecap      q1  1803     9
4  Infosys (INFY) (500209)  Largecap      q2  1804    15

In [5]:
df = pd.get_dummies(columns=['script'], data=df, drop_first=True)
df = pd.get_dummies(columns=['marketcap'], data=df, drop_first=True)
df = pd.get_dummies(columns=['quarter'], data=df, drop_first=True)

In [6]:
hour = df['hour']

In [7]:
df.drop('hour', axis=1, inplace=True)

In [8]:
df = pd.concat([df, hour], axis=1)

In [9]:
X = df.iloc[:,:-1]
y = df['hour']

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=101)
from sklearn.linear_model import LogisticRegression
lm = LogisticRegression()

In [11]:
X_train.head()

     year  quarter_q2  quarter_q3  quarter_q4
269  2069           0           1           0
296  2096           1           0           0
227  2027           0           0           0
289  2089           0           1           0
45   1845           0           1           0

In [12]:
lm.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [13]:
pred = lm.predict(X_test)

In [14]:
from sklearn.metrics import classification_report, confusion_matrix

In [15]:
print(classification_report(y_test, pred))

             precision    recall  f1-score   support

          9       0.38      0.07      0.12        83
         15       0.45      0.98      0.62        53
         16       0.30      0.40      0.34        15

avg / total       0.39      0.42      0.32       151

In [16]:
y_test

12     15
19      9
133    15
211     9
317    15
206    15
315     9
416     9
91      9
432     9
95     16
251     9
397    15
307     9
446    15
293    15
395     9
186     9
69     15
291     9
261    15
168     9
89      9
165    15
117    15
335    16
72      9
128     9
348    15
201     9
       ..
17      9
441     9
57      9
320     9
178     9
169     9
324    15
360     9
86     15
198    15
359    16
407    16
404    15
109    15
93     15
204    15
448     9
218     9
121     9
9       9
228    15
388    15
406    15
401     9
389    15
16      9
41      9
265     9
295    16
179     9
Name: hour, Length: 151, dtype: int64

In [17]:
pred

array([15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 16, 15, 15, 15,  9, 15, 15,
       16, 15, 15, 15, 15, 15, 15, 15,  9, 15, 15, 15, 15, 16, 15, 16, 16,
       16, 15, 15, 16, 15, 16, 15, 16,  9, 15, 15, 15, 15,  9, 15, 16, 15,
       15, 16, 15, 15, 15, 15,  9, 15, 15, 15,  9, 15,  9, 15, 15, 15, 15,
       16, 15, 15, 15, 15, 15, 15, 15, 15,  9,  9, 15,  9, 15, 16, 15, 15,
       15, 15,  9, 15, 15,  9, 15, 15, 15, 15, 15, 15, 15, 16, 15, 15, 15,
       15, 15, 15, 15, 15, 15, 16,  9, 16, 15, 15, 16, 15, 15, 16, 15, 15,
       15, 15, 15, 15, 15, 15, 16, 15, 15, 15, 15, 15,  9,  9, 15, 15, 15,
       15, 15, 16, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15,  9, 15],
      dtype=int64)